@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
.font-900 {
    font-weight:  900;
}

.vertical {
    writing-mode: vertical-lr;
}
div.expand {
    behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
.slider {
 @apply flex flex-col gap-5 p-2 py-5 lg:p-5 text-slate-300 bg-secondary h-screen;
}
.p::first-letter {
    @apply bg-emerald-500;
    padding: .5rem;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 1.3rem;
    margin-right: 0.6rem;
    float: left;
    color: black;
}
::-webkit-scrollbar{width:.3rem;border-left:1px solid var(--border);height:.5rem;}
::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: .5rem;
  transform: translateX(-50%);
}

::-webkit-scrollbar-track {
  background-color: #111;
  border-radius: 1.5rem;
  
}
::selection {
    color: black;
    background-color: #10b981;
  }